/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .prizing p{
    font-size: 20px;
    line-height: 10px;
  }
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 20px;
  }
  .text-wrap h2{
    font-size: 18px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .prizing p{
    font-size: 30px;
    line-height: 20px;
  }
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 30px;
  }
  .text-wrap h2{
    font-size: 25px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .prizing p{
    font-size: 30px;
    line-height: 20px;
  }
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 40px;
  }
  .text-wrap h2{
    font-size: 40px;
  }

}
