<div class="gate">
  <img class="logo" src="https://s3.amazonaws.com/myfangate.com/5sos-summer/sizzlinsummerlogo.png"><br>
  <!-- AGE GATE  -->
  <form id="age-gate" class="form-horizontal" onsubmit="return validateAge()" method="post">
    <img src="https://s3.amazonaws.com/myfangate.com/raelynn/age.png">
    <input type="date" class="age form-control" name="age" id="age"/><br>
    <input type="submit" class="btn btn-success" id="age-gate-submit">
  </form>
  <!-- CODE WORD GATE -->
  <form id="code-gate" class="form-horizontal hider" onsubmit="return validateCode()" method="post">
    <h2>ENTER THE CODEWORD</h2>
    <input type="text" class="age form-control" name="code" id="code"/>
    <b>HINT: Watch Disney Channel to get the codeword!</b>
    <br><br>
    <input type="submit" class="btn btn-success" id="age-gate-submit">
  </form>
  <br>
  <a href="https://s3.amazonaws.com/myfangate.com/5sos-summer/5+Seconds+of+Sizzlin+Summer+Rules.pdf" target="_blank">Official Rules</a>
</div>
