<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center prizing">
        <h2>GRAND PRIZE</h2>
        <p>One lucky winner will fly to New York</p>
        <p>to see 5 Seconds Of Summer</p>
        <p>rock their Good Morning America performance</p>
        <p>and win a signed guitar!</p>
    </div>
  </div>
</div>
