<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center prizing">
        <h2>GRAND PRIZE</h2>
        <p>One lucky winner will fly to New York</p>
        <p>to meet 5 Seconds Of Summer and see</p>
        <p>them rock Central Park for their</p>
        <p>Good Morning America performance!</p>
    </div>
  </div>
</div>
