---
title: 5 SECONDS OF SIZZLIN SUMMER
---
<!-- Override RD apps BG color -->
<div id="background"></div>
<!-- Start Partials -->
<%= partial "partials/header" %>
<%= partial "partials/grand-prize" %>
<%= partial "partials/contest" %>
<%= partial "partials/gate" %>
